svg{
  width: 20px;
  stroke: #9197B3;
  fill: none;
}

.sidebar-wrapper{
  position: relative;
}

.toggle-btn {
  cursor: pointer;
  background: transparent;;
  border: none;
  font-size: 20px;
  padding: 23px 10px 8px 10px;
  border: none;
  transition: ease-in-out 0.5s;
}

.toggle-btn svg{
  fill: black;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 60px;
  display: grid;
  gap: 18px;
  height: 100%;
  padding: 36px 28px 65px 20px;
  box-sizing: border-box;
  align-content: space-between;
  background-color: #fff;
  z-index: 9;
  box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
  transform: translateX(-306px);
  transition: ease-in-out 0.5s;
  height: calc(100% - 60px);
  overflow-y: auto;
}

.sidebar.show-menu {
  width: 300px;
  transform: translateX(0px);
}

@media screen and (min-width: 540px) {
  .sidebar {
    padding: 20px 34px 30px 20px;
    top: 65px;
    height: calc(100% - 65px);
  }
  
  .toggle-btn {
    padding: 20px 24px 20px 18px;
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    top: 75px;
    height: calc(100% - 75px);
  }
  
  .toggle-btn {
    padding: 41px 24px 20px 18px;
  }
}

@media screen and (min-width: 1440px) {
  .toggle-btn {
    display: none;
  }
  
  .sidebar {
    position: static;
    width: 306px;
    padding: 36px 28px 76px 28px;
    transform: translateX(0);
    transition:none;
    box-shadow: none;
    height: 100%;
  }
}