.employee {
    display: flex;
    margin-top: auto;
    align-items: center;

    & img {
        margin-right: 14px;
        width: 42px;
    }
}

.employee__info {
    display: grid;
    gap: 2px;
}

.employee__info__name {
    color: #000;
}

.employee__info__position {
    color: #757575;
    font-size: 12px; 
}